.border {
  border: 1px solid black;
}
.results-border {
  border-right: 1px solid lightgray;
  border-bottom: 1px solid lightgray;
  border-left: 1px solid lightgray;
}
.input-size {
  width: 90%;
  border: none;
}
.btn-props {
  width: 10%;
  background-color: white;
  border: none;
}

.row-width {
  width: 25%;
  margin: auto;
}

.search-box {
  border: 1px solid orange;
}

.lens {
  color: orange;
}

.thumbnail {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
p {
  margin: 0;
}
.outline {
 outline: none;
}
p:first-of-type {
    font-weight: bold;
}

button:focus { outline: none; }
